openapi: '3.0.2'
info:
  title: API Title
  version: '1.0'
servers:
  - url: https://api.jdufty.com/v1
paths:
  /budgets:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/budgetList'
    post:
      description: ''
      parameters: []
      responses:
        '200':
          description: OK
  /merchants:
    get:
      description: 'Get all merchants'
      parameters:
        - name: filterUncategorised
          in: query
          schema:
            type: boolean
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchantList'
  /merchant/{id}:
    post:
      description: ''
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/merchant'
      responses:
        '200':
          description: OK
  /budgets/{id}:
    get:
      description: ''
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
    post:
      description: ''
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/budget'
    delete:
      description: ''
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK

components:
  schemas:
    merchant:
      type: object
      properties:
        category:
          type: string
    merchantList:
      type: array
      items:
        $ref: '#/components/schemas/merchant'
    budget:
      type: object
      properties:
        category:
          type: string
        limit:
          type: integer
        id:
          type: integer
      required:
        - category
        - limit
    budgetList:
      type: array
      items:
        $ref: '#/components/schemas/budget'
